<div class="panel">

	<ul>
		<li>
			<strong>To <a href="/profile/<%= post.owner.id %>" class="name-link"><%= post.owner.name %></a>:</strong>
		</li>
		<li>
			<a href="/posts/<%= post.id %>" class="post-link"><%= post.body %></a>
		</li>
	</ul>

	<% if post.likers.include?(current_user) %>

		<form action="/likes/post/<%= post.id %>/remove" method="POST" class="embed-form">

			<ul>
				<li>
					<input type="hidden" name="_method" value="DELETE">
					<strong>Likes: </strong><%= post.like_count %> <strong><input type="submit" value="&#9660;" class="inline-block"></input></strong> | <span class="timestamp"><%= post.created_at %></span>
				</li>
			</ul>

		</form>

	<% else %>
	
			<form action="/likes/post/<%= post.id %>/add" method="POST" class="embed-form">

			<ul>
				<li>
					<input type="hidden" name="_method" value="PUT">
					<strong>Likes: </strong><%= post.like_count %> <strong><input type="submit" value="&#9650;" class="inline-block"></input></strong> | <span class="timestamp"><%= post.created_at %></span>
				</li>
			</ul>

		</form>

	<% end %>

	<ul>
		<li>
			<strong>Comments: </strong><%= post.comment_count %>
		</li>
	</ul>

	<% if post.author == current_user %>

		<form action="/posts/<%= post.id %>/delete" method="POST">
			
			<a href="/posts/<%= post.id %>/edit" class="link-button halfwidth flat light">EDIT</a>

			<input type="submit" class="button flat halfwidth light" value="DELETE">
			<input type="hidden" name="_method" value="DELETE">

		</form>

	<% end %>

	<% if post.author == current_user || current_user.friends.include?(post.author) || current_user.friends.include?(post.owner) %>
		
		<%= erb :'comment/new', locals: { post: post } %>
	
	<% end %>

</div>